function SquareGame.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 0
push constant 30
call Square.new 3
pop this 0
push constant 0
pop this 1
push pointer 0
return
function SquareGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Square.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SquareGame.moveSquare 0
push argument 0
pop pointer 0
push this 1
push constant 1
eq
not
if-goto notif0
push this 0
call Square.moveUp 1
pop temp 0
goto endif0
label notif0
label endif0
push this 1
push constant 2
eq
not
if-goto notif1
push this 0
call Square.moveDown 1
pop temp 0
goto endif1
label notif1
label endif1
push this 1
push constant 3
eq
not
if-goto notif2
push this 0
call Square.moveLeft 1
pop temp 0
goto endif2
label notif2
label endif2
push this 1
push constant 4
eq
not
if-goto notif3
push this 0
call Square.moveRight 1
pop temp 0
goto endif3
label notif3
label endif3
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
function SquareGame.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label while0
push local 1
not
not
if-goto endw0
label while1
push local 0
push constant 0
eq
not
if-goto endw1
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto while1
label endw1
push local 0
push constant 81
eq
not
if-goto notif4
push constant 1
neg
pop local 1
goto endif4
label notif4
label endif4
push local 0
push constant 90
eq
not
if-goto notif5
push this 0
call Square.decSize 1
pop temp 0
goto endif5
label notif5
label endif5
push local 0
push constant 88
eq
not
if-goto notif6
push this 0
call Square.incSize 1
pop temp 0
goto endif6
label notif6
label endif6
push local 0
push constant 131
eq
not
if-goto notif7
push constant 1
pop this 1
goto endif7
label notif7
label endif7
push local 0
push constant 133
eq
not
if-goto notif8
push constant 2
pop this 1
goto endif8
label notif8
label endif8
push local 0
push constant 130
eq
not
if-goto notif9
push constant 3
pop this 1
goto endif9
label notif9
label endif9
push local 0
push constant 132
eq
not
if-goto notif10
push constant 4
pop this 1
goto endif10
label notif10
label endif10
label while3
push local 0
push constant 0
eq
not
not
if-goto endw3
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto while3
label endw3
goto while0
label endw0
push constant 0
return
