function Main.main 0
push constant 66
call Output.printChar 1
pop temp 0
push constant 67
call Output.printChar 1
pop temp 0
push constant 68
call Output.printChar 1
pop temp 0
push constant 66
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 0
return
